{% extends 'base.html.twig' %}

{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>
                        {% if trick is defined %}
                            Update {{ trick.name|length > 120 ? trick.name|slice(0, 120) ~ '...' : trick.name }}
                        {% else %}
                            Create new trick
                        {% endif %}
                    </h2>
                    <ol>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('trick_index') }}">Tricks</a></li>
                        <li>
                            {% if trick is defined %}
                                Update trick
                            {% else %}
                                Create new trick
                            {% endif %}
                        </li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page pt-4">
            <div class="container">
                <div class="form">
                    {{ form_start(form) }}
                    <div class="row login-container d-flex justify-content-center mb-4">
                        <div class="col-lg-4 col-md-8">
                            <div class="form-group">
                                {{ form_row(form.name, {'attr':
                                    {'class': 'form-control form-control-user', 'placeholder': 'Name'}
                                }) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_row(form.description, {'attr':
                                    {'class': 'form-control form-control-user', 'placeholder': 'Describe your trick'}
                                }) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_widget(form.isSwitch) }}
                                {{ form_label(form.isSwitch) }}
                            </div>
                            <div class="form-group mt-3">
                                <div class="d-flex justify-content-between">
                                    {{ form_label(form.rotation) }}
                                    <span id="rangeValue">0 °</span>
                                </div>
                                {{ form_widget(form.rotation) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_label(form.direction) }}
                                {% for child in form.direction %}
                                    <div class="form-check ml-2">
                                        <label class="form-check-label" for="{{ child.vars.id }}">{{ child.vars.label }} </label>
                                        {{ form_widget(child, {'attr': { 'class': 'form-check-input', 'value': child.vars.value } }) }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.grab) }}
                                {{ form_widget(form.grab, {'attr':
                                    {'class': 'form-control form-control-user'}
                                }) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_label(form.slide) }}
                                {{ form_widget(form.slide, {'attr':
                                    {'class': 'form-control form-control-user'}
                                }) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_label(form.variant) }}
                                {{ form_widget(form.variant, {'attr':
                                    {'class': 'form-control form-control-user'}
                                }) }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="form-group mt-3 text-center">
                                {{ form_widget(form.trickImages, {'attr':
                                    {'class': 'fileInput'}})
                                }}
                                <label class="fileInputLabel" for="{{ form.trickImages.vars.id }}">{{ form.trickImages.vars.label }}</label>
                                <a href="" id="clearImages" class="cancelBtn">clear new images</a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="img-preview" id="preview">
                                    {% if trick is defined %}
                                        {% for image in trick.trickImages %}
                                            <div class="img-group text-center">
                                                <img class="obj img-fluid m-2" src="{{ asset('img/trick-image/'~image.fileName) }}">
                                                <a href="{{ path('trick_image_delete', {'trickImage': image.id}) }}"
                                                   data-delete=""
                                                   data-token="{{ csrf_token('delete'~image.id) }}"
                                                   class="removeImgBtn">remove</a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div
                                id="trick_trickVideos"
                                data-prototype='{{ include('Trick/Prototype/trick-video.html.twig', {'trickVideo': form.trickVideos.vars.prototype}) }}'
                                data-widget-tags="{{ '<div class="trickVideo"></div>'|e }}"
                                data-widget-counter="{{ form.children|length }}"
                            >
                                {% for trickVideo in form.trickVideos %}
                                    <div class="trickVideo">
                                        <div class="deletable d-flex justify-content-between mb-3">
                                            {{ form_row(trickVideo.url, {'attr':
                                                {'class': 'form-control form-control-user'}
                                            }) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <btn class="add-collection-btn loginBtn"
                                 data-list-selector="#trick_trickVideos">
                                <i class="bx bx-plus"></i> Add video
                            </btn>
                        </div>
                    </div>
                    </div>
                    <div class="my-3 text-center">
                        <button type="submit" class="loginBtn">
                            {% if trick is defined %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                    {{ form_end(form) }}
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}

{%  block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/add-video.js') }}"></script>

    <script>
        let rotation;
        {% if trick is defined %}
            rotation = {{ trick.rotation }}
        {% else %}
            rotation = 0;
        {%  endif %}

        let preview;

        window.onload = () => {
            updateTextInput(rotation);
            let deleteImageLinks = document.querySelectorAll("[data-delete]");
            preview = document.getElementById('preview');

            for (let link of deleteImageLinks) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    fetch(this.getAttribute("href"), {
                        method: "DELETE",
                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({"_token": this.dataset.token})
                    }).then(
                        response => response.json()
                    ).then(data => {
                        if (data.success) this.parentElement.remove();
                        if (data.error) alert(data.error);
                    })
                })
            }
        };

        document.getElementById("clearImages").addEventListener("click", function(event){
            event.preventDefault();
            removeNewImage();
        });

        function updateTextInput(val) {
            document.getElementById('rangeValue').innerHTML = val + ' °';
        }

        function handleFiles(files) {
            if (!files.length) {
                removeNewImage();
                return;
            }

            let imageType = /^image\//;
            for (let i = 0; i < files.length; i++) {
                let file = files[i];

                if (!imageType.test(file.type)) {
                    alert("please add images only");
                } else {
                    if(files.length === 0){
                        preview.innerHTML = '';
                    }
                    let img = document.createElement("img");
                    img.classList.add("obj", "img-fluid", "m-2", "new-image");
                    img.file = file;

                    preview.prepend(img);

                    let reader = new FileReader();

                    reader.onload = ( function(aImg) {
                        return function(e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                }
            }
        }

        function removeNewImage() {
            let arr = document.querySelectorAll('.new-image');
            for (let img of arr) {
                img.remove();
            }
        }

    </script>

{% endblock %}