{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Signup{% endblock %}


{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Signup</h2>
                    <ol>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li>Signup</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page pt-4">
            <div class="container">
                <div class="row login-container d-flex justify-content-center mb-4">

                    <div class="col-lg-5 col-md-8">

                        <div class="form">
                            {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_row(form.name, {'attr':
                                        {'class': 'form-control form-control-user', 'placeholder': 'Username'}
                                    }) }}
                                </div>
                                <div class="form-group mt-3">
                                    {{ form_row(form.email, {'attr':
                                        {'class': 'form-control form-control-user', 'placeholder': 'Email'}
                                    }) }}
                                </div>
                                <div class="form-group mt-3">
                                    {{ form_row(form.plainPassword.first, {'attr':
                                        {'class': 'form-control form-control-user', 'placeholder': 'Password'}
                                    }) }}
                                </div>
                                <div class="form-group mt-3">
                                    {{ form_row(form.plainPassword.second, {'attr':
                                        {'class': 'form-control form-control-user', 'placeholder': 'Confirm password'}
                                    }) }}
                                </div>
                                <div class="mt-3 text-center">
                                    <button type="submit" class="loginBtn">Create account*</button>
                                    <p><em>*A validation link will be sent to your email</em></p>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}